{
  "presets": [
    ["es2015", {
      "loose": true,
      "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-es2015-destructuring",
    "transform-object-rest-spread"
  ]
}