.live-chat-wrapper, .live-chat-manager {
  input,
  textarea {
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 25px rgba(0,0,0,0.4) inset;
    }
  }
  &.dark {
    input,
    textarea {
      background-color: #ededed;
      &:focus {
        box-shadow: 0 0 25px rgba(0,0,0,0.4) inset;
        color: #999;
      }
    }
  }

  .button {
    display: inline-block;
    padding: 12px 26px;
    color: #fff;
    background-color: #828282;
    border: 0;
    font-family: Oswald, sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    outline: none !important;
    &.button-green {
      background-color: $light-green;
    }
    &.button-charcoal {
      background-color: #333;
    }
    &.button-smaller {
      padding: 10px 18px;
      font-size: 0.9rem;
    }
    &.button-xs {
      padding: 6px 8px;
      font-size: 0.7rem;
      border-radius: 20px;
      border: 2px solid #b2b2b2;
      color: #b2b2b2;
      background: 0;
    }
    &.button-block {
      display: block;
      width: 100%;
    }
    &:link,
    &:visited,
    &:active,
    &:target {
      color: #fff;
      text-decoration: none;
    }
  }

  button[disabled],
  html input[disabled] {
    cursor: not-allowed;
  }

}

@keyframes live-chat-blink-animation {
  10% {
    opacity: 0.4;
  }
  13% {
    opacity: 1;
  }
}