<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (title === '') { %>
        <title>Jason Gallagher - Front End Engineer in the San Francisco Bay Area</title>
    <% } else { %>
        <title><%= title %> - Jason Gallagher</title>
    <% } %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Sanchez">
    <link rel="stylesheet" href="/css/global.min.css">
    <link rel="stylesheet" href="/css/admin.min.css">
</head>
<body class="control-panel">

<header>
    <%- include('navigation', {auth: auth}) %>
</header>

<div class="container">
    <div class="main-content">